{% extends "nav.html" %}

{{ title }}

{% block body %}
</div>
    <div class="imgContainer">
      <img style="width: 100%; height: auto;" src="static/books-1245690_1920.jpg" alt="Shelves of books">
      <div class="centered">
        <h1> Home Page </h1>
        <p>Log in to leave a review and rating! </p>
        <a class="btn btn-info" href="{{ url_for('signup') }}">Sign Up</a>
        <a class="btn btn-success" href="{{ url_for('login') }}">Log In</a>
      </div>
    </div>
{% endblock %}
