<!DOCTYPE hmtl>
<html>
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/styles/css/main.css?{{ today }}">
    <link rel="shortcut icon" href="/static/favicon1.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4969355de5.js" crossorigin="anonymous"></script>
  </head>
  <body>
    {% block body %}
    {% endblock %}
  </body>
</html>
